<section class="container-datatable">

    <div class="container">

        <div class="row">
            <div class="col-12 mb-3">

                <h4 class="p-1 title">TRANSACTIONS</h4>
                <div class="row">
                    <div id="address-transaction-table" class="col-12 position-relative view-table"
                         data-url="/{{meta.baseUrlPrefix}}/address/ad-{{address.chainId}}-{{address.address}}/transactions">

                        {{> ui/transactionTable}}

                    </div>
                </div>

                {{>ui/nextPreviousTemplate}}


            </div>
        </div>

    </div>

</section>

{{#contentFor "pageScripts"}}
    <script type="text/javascript">
        $(document).ready(function() {
            btx.addressDetails.init();
        });
    </script>
{{/contentFor}}