<section class="container-datatable">

    <div class="container">

        <div class="row">
            <div class="col-12 mb-3">

                <h4 class="p-1 title text-uppercase" style="font-weight: 500;letter-spacing: 1.1px;font-size: 1rem">Transactions</h4>

                <div class="row">
                    <div id="block-transaction-table" class="col-12 position-relative view-table"
                         data-url="/{{meta.baseUrlPrefix}}/block/bk-{{block.chainId}}-{{block.blockNumber}}/transactions">

                        {{>ui/transactionTable}}

                    </div>
                </div>

                {{>ui/nextPreviousTemplate}}

            </div>
        </div>

    </div>

</section>
