<section class="container-graphs">

    <div class="container">

        <div class="row">
            <div class="col-md">
                <div class="card card-graph graph-1 mb-2">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Total No of Token Transfers <small>4213232</small></h3>
                        </div>
                        <div class="d-flex graph-header">
                            <div class="mr-auto pt-2 pb-2">Token Transfers</div>
                            <div class="p-2 interval" data-interval="hour">1H</div>
                            <div class="p-2 interval" data-interval="day">1D</div>
                            <div class="p-2 interval" data-interval="week">1W</div>
                            <div class="p-2 interval" data-interval="month">1M</div>
                            <div class="p-2 interval" data-interval="year">1Y</div>
                            <div class="p-2 interval" data-interval="all">All</div>
                        </div>
                        <div id="transactionsValue" class="graph-container"></div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card card-graph graph-2 mb-2">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Volume OST<span class="text-lowercase">&#945;</span> <small>4213232</small></h3>
                        </div>
                        <div class="d-flex graph-header">
                            <div class="mr-auto pt-2 pb-2">Token Transfers</div>
                            <div class="p-2 interval" data-interval="hour">1H</div>
                            <div class="p-2 interval" data-interval="day">1D</div>
                            <div class="p-2 interval" data-interval="week">1W</div>
                            <div class="p-2 interval" data-interval="month">1M</div>
                            <div class="p-2 interval" data-interval="year">1Y</div>
                            <div class="p-2 interval" data-interval="all">All</div>
                        </div>
                        <div id="transactionsValue" class="graph-container"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>