<section class="container-graphs">

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="tokenDetailsCoinStatsPadding">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="tokenDetailsGraphTitlePaddingLeft tokenDetailsGraphContainerBorder">
                                        <span class="tokenDetailsStatsTitleColorbad">
                                            TOTAL N  OF TOKEN TRANSFERS &nbsp
                                        </span>
                                        <span class="tokenDetailsStatsValueColora84">
                                            4213232
                                        </span>

                                <div class="tokenDetailsGraphSubTitleMargineTop">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="tokenDetailsGraphSubTitleBorder">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <div class="tokenDetailsGraphSubTitleBorderRight">
                                                                     <span class="tokenDetailsStatsTitleColorbad">
                                                                         Token Transfers
                                                                     </span>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                <div class="col-sm-2">
                                                                         <span class="tokenDetailsStatsTitleColorbad">
                                                                            1H
                                                                         </span>
                                                                </div>
                                                            </div>
                                                            <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                <div class="col-sm-2">
                                                                              <span class="tokenDetailsStatsTitleColorbad">
                                                                                1D
                                                                             </span>
                                                                </div>
                                                            </div>
                                                            <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                <div class="col-sm-2">
                                                                              <span class="tokenDetailsStatsTitleColorbad">
                                                                                1W
                                                                             </span>
                                                                </div>
                                                            </div>
                                                            <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                <div class="col-sm-2">
                                                                              <span class="tokenDetailsStatsTitleColorbad">
                                                                                1M
                                                                             </span>

                                                                </div>
                                                            </div>
                                                            <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                <div class="col-sm-2">
                                                                              <span class="tokenDetailsStatsTitleColorbad">
                                                                                1Y
                                                                             </span>
                                                                </div>
                                                            </div>
                                                            <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                <div class="col-sm-2">
                                                                              <span class="tokenDetailsStatsTitleColorbad">
                                                                                All
                                                                             </span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tokenDetailsContainerBackgroundColor tokenDetailsGraphMargin" style="padding-top: 60%">

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="tokenDetailsGraphTitlePaddingLeft tokenDetailsGraphContainerBorder">
                                        <span class="tokenDetailsStatsTitleColorbad">
                                            VOLUME OSTα &nbsp
                                        </span>
                                         <span class="tokenDetailsStatsValueColora84">
                                            4213232
                                        </span>

                                <div class="tokenDetailsGraphSubTitleMargineTop">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="tokenDetailsGraphSubTitleBorder">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <div class="tokenDetailsGraphSubTitleBorderRight">
                                                                 <span class="tokenDetailsStatsTitleColorbad">
                                                                     Volume
                                                                 </span>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                <div class="col-sm-2">
                                                                     <span class="tokenDetailsStatsTitleColorbad">
                                                                        1H
                                                                     </span>
                                                                </div>
                                                            </div>
                                                            <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                <div class="col-sm-2">
                                                                          <span class="tokenDetailsStatsTitleColorbad">
                                                                            1D
                                                                         </span>
                                                                </div>
                                                            </div>
                                                            <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                <div class="col-sm-2">
                                                                          <span class="tokenDetailsStatsTitleColorbad">
                                                                            1W
                                                                         </span>
                                                                </div>
                                                            </div>
                                                            <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                <div class="col-sm-2">
                                                                          <span class="tokenDetailsStatsTitleColorbad">
                                                                            1M
                                                                         </span>

                                                                </div>
                                                            </div>
                                                            <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                <div class="col-sm-2">
                                                                          <span class="tokenDetailsStatsTitleColorbad">
                                                                            1Y
                                                                         </span>
                                                                </div>
                                                            </div>
                                                            <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                <div class="col-sm-2">
                                                                          <span class="tokenDetailsStatsTitleColorbad">
                                                                            All
                                                                         </span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tokenDetailsContainerBackgroundColor tokenDetailsGraphMargin" style="padding-top: 60%">

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</section>