
<div>
  <img class="btxImage" src="/assets/ETH.png" alt="eth" style="width:20px;height:20px;"></img>
  <p class="btx" onclick="btxTapped()"> BTX</p>
  <p class="about float_right" onclick="aboutTapped()">ABOUT</p>
</div>


<script type="text/javascript">
  function aboutTapped() {
    window.location.href = "/about";
  }

  function btxTapped(){
    window.location.href = "/home";
  }
</script>