{{css 'mHeader.css'}}


<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <a href="/chain-id/1410/blocks/recent/1">
                <img class="btxImage" src="#" alt="eth" style="width:20px;height:20px;"></img>
                 <p class="btx"> BTX</p>
            </a>

        </div>
        <div class="col-sm-4">
            <form class="navbar-form navbar-right" action="http://www.google.com/search" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Token, Transactions, Address or Block#" name="q">
                </div>
                <button type="submit" style="display:none;" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col-sm-1">
            <a href="/about">
                <p class="about float_right">ABOUT</p>
            </a>
        </div>
    </div>
</div>