  

<div class="row">
  <div class="col-xs-12 col-sm-9">
    <p class="truncate_tail">
      <span class="tx_key default_black_color">TX#</span> 
      <span class="tx_key default_bright_blue truncate_tail " onclick="transactionHashTapped('{{hash}}')">{{hash}} </span>
    </p>

    <div class="row">
      <div class="col-xs-6 col-sm-6">
        <div class="truncate_tail">
          <span class="tx_key default_black_color">From</span> 
          <span class="address_value truncate_tail" onclick="addressTapped('0x2F0876ac3Ac68bd53f74155A368347872b298Db1')"> 0x2F0876ac3Ac68bd53f74155A368347872b298Db1</span>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6">
        <div class="truncate_tail">
          <span class="tx_key default_black_color">To</span> 
          <span class="address_value truncate_tail" onclick="addressTapped('0x2F0876ac3Ac68bd53f74155A368347872b298Db1')"> 0x2F0876ac3Ac68bd53f74155A368347872b298Db1</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="col-xs-6 col-sm-12">
        <span class="default_black_color">{{toDate timestamp}}</span>
    </div>
    
    <div class="col-xs-6 col-sm-12">
        <span class="amount_coin">100 FSC</span> 
        <span class="amount_usd">100 USD</span> 
    </div>
  </div>  
   
</div>  
   
      
<script type="text/javascript">
  function transactionHashTapped(transactionAddress) {
     window.location.href = "/chain-id/142/transaction/"+transactionAddress;
  }

  function addressTapped(address) {
     window.location.href = "/chain-id/142/address/"+address;
  }

</script>