<div class="container-page-title">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="pt-4 pb-4 text-uppercase">{{title}}</h1>
            </div>
        </div>
    </div>
</div>