<div class="row">
    <div class="col-12">
        <div class="pageTitleBackgroundColor page_title_top_border pageTitleBottomPadding">
            <div class="container">
                <div class="col-12">
                    <div class="page_title_margine">
                        <h5 class="page_title_text_color truncate_tail">
                            {{title}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>