<div class="float_right">
    <ul class="pagination pagination-sm">

        <span class="paddingRight paddingTop">
            20 of 200
        </span>
        <li class="page-item {{prevPageStatus}}">

            <span class="page-link" aria-hidden="true"> < </span>

        </li>
        <li class="page-item {{nextPageStatus}}" onclick="actionHandler()">
            <span class="page-link" aria-hidden="true" > > </span>
        </li>
    </ul>
</div>

 <script type="text/javascript">
     var transactionTable = document.getElementById('transactionTable');

     function actionHandler () {

          console.log("******* 12 transaction_url", transactionUrl);
          $.ajax({
              url: transactionUrl,
              contentType: 'application',
              type: 'GET',
              success: function (data, status) {
                  console.log("success", data);
                  transactionTable.innerHTML = data;
              },
              error: function (XMLHttpRequest, textStatus, errorThrown) {
                  console.log("Error Data: " + XMLHttpRequest + "\nStatus: " + textStatus)
              }
          });
      }

 </script>