<section class="container-summary">
    <div class="container">

        <div class="row mt-4 mb-4">

            {{#each view_data}}
                <div class="col-sm">
                    <div class="card mb-3">
                        <img class="card-img-top mx-auto" src="https://dummyimage.com/400x400/22aaee/fff.png" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text text-center mt-2">
                                <div class="name">{{title}}
                                    {{#if is_badge_visible}}
                                        <span class="badge badge-primary">OST
                                        <span class="text-lowercase">&#945;</span>
                                         </span>
                                    {{/if}}
                                </div>
                                <div class="value">{{value}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}

        </div>

    </div>

</section>
