 {{!--      <tr>
  <td>{{number}}</td>
  <td>{{hash}}</td>
  <td>{{parent_hash}}</td>  
</tr>
 --}}
<ul>
  <div class="bottom_seperator">
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <div class="row align-items-center">
            <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='tokenIcon' />
        
          <div class="col-xs-12 col-sm-9 font">
            <h6 class="default_black_color frcCoin truncate_tail">FRANCHESCO COIN</h6>
            <span class="default_black_color volume truncate_tail">24h Volume</span> <br />
            <h6 class="default_black_color frcCoin truncate_tail">50,000.000</h6>
          </div>
         </div>
      </div>
      <div class="col-xs-12 col-sm-9 font left_seperator padding_left margin_bottom margin_top">
         {{>homeTransactions}}
      </div>
      
    </div>
  </div>
</ul>