<section class="container-summary-2">

    <div class="container">

        <div class="row mt-4 mb-4 summary-2">

            <div class="col-sm">
                <div class="card mb-3">
                    <img class="card-img-top mx-auto" src="https://dummyimage.com/400x400/22aaee/fff.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="card-text text-center mt-2">
                            <div class="name">Market Cap <span class="badge badge-primary">OST <span class="text-lowercase">&#945;</span></span></div>
                            <div class="value">{{token_details.market_cap}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card mb-3">
                    <img class="card-img-top mx-auto" src="https://dummyimage.com/400x400/22aaee/fff.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="card-text text-center mt-2">
                            <div class="name">Circulating Supply</div>
                            <div class="value">{{token_details.circulation}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card mb-3">
                    <img class="card-img-top mx-auto" src="https://dummyimage.com/400x400/22aaee/fff.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="card-text text-center mt-2">
                            <div class="name">Total Supply</div>
                            <div class="value">{{token_details.total_supply}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
