<section class="container-datatable">

    <div class="container">

        <div class="row">
            <div class="col-12">

                <div class="nav-tab-ost mt-3 mb-3">

                    <ul class="nav nav-pills" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tokenTransferTab" data-toggle="pill" href="#tokenTransfer" role="tab" aria-controls="tokenTransfer" aria-selected="true">Token Transfer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tokenHoldersTab" data-toggle="pill" href="#tokenHolders" role="tab" aria-controls="tokenHolders" aria-selected="false">Token Holders</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-2" id="myTabContent">
                        <div class="tab-pane show active" id="tokenTransfer" role="tabpanel" aria-labelledby="tokenTransferTab">

                            <table id="tokenDetailsRecentTrans" class="table table-hover table-responsive token-table" cellspacing="0" width="100%">
                                <thead hidden>

                                </thead>
                                <tfoot hidden>

                                </tfoot>

                                <script type="custom/ost" id="dt-col-1">
                                    <div class="cell d-flex align-items-center">
                                        <div class="circle circle-sm">
                                           <div>[[symbol]]</div>
                                        </div>
                                        <div class="ml-2 name">[[name]]</div>
                                    </div>
                                </script>
                                <script type="custom/ost" id="dt-col-2">
                                        <div class="cell d-flex align-items-center">
                                            <span class="badge badge-primary">[[tokens]]</span>
                                            <span class="ml-1">([[value]] OST)</span>
                                        </div>
                                </script>
                                <script type="custom/ost" id="dt-col-3">
                                        <div class="cell d-flex align-items-center">
                                            <span>[[timestamp]]</span>
                                        </div>
                                    </script>
                                <script type="custom/ost" id="dt-col-4">
                                        <div class="cell d-flex align-items-center">
                                            <span>TX# </span>
                                            <a href="[[redirect_url]]" class="d-inline-block text-truncate ml-1">[[tx]]</a>
                                        </div>
                                </script>
                                <script type="custom/ost" id="dt-col-5">
                                        <div class="cell d-flex align-items-center">
                                            <span>From </span>
                                            <a href="[[redirect_url]]" class="d-inline-block text-truncate ml-1">[[from]]</a>
                                        </div>
                                </script>
                                <script type="custom/ost" id="dt-col-6">
                                        <div class="cell d-flex align-items-center">
                                            <div class="text-center w-100" style="color:#597a84">&#8594;</div>
                                        </div>
                                </script>
                                <script type="custom/ost" id="dt-col-7">
                                        <div class="cell d-flex align-items-center">
                                            <span>To</span>
                                            <a href="[[redirect_url]]" class="d-inline-block text-truncate ml-1">[[to]]</a>
                                        </div>
                                </script>

                            </table>

                        </div>
                        <div class="tab-pane" id="tokenHolders" role="tabpanel" aria-labelledby="tokenHoldersTab">
                            <table id="tokenDetailsTokenHolders" class="table table-hover table-responsive token-table" cellspacing="0" width="100%">
                                <thead hidden>

                                </thead>
                                <tfoot hidden>

                                </tfoot>

                                <script type="custom/ost" id="dt-holders-col-1">
                                    <div class="cell d-flex align-items-center">
                                         <div class="circle circle-sm">
                                           <div>[[symbol]]</div>
                                        </div>
                                        <a href="[[redirect_url]]" class="d-inline-block ml-2">[[name]]</a>
                                    </div>
                                </script>
                                <script type="custom/ost" id="dt-holders-col-2">
                                    <div class="cell d-flex align-items-center">
                                        <span>Available Balance</span>
                                    </div>
                                </script>
                                <script type="custom/ost" id="dt-holders-col-3">
                                        <div class="cell d-flex align-items-center">
                                            <span class="badge badge-primary">[[tokens]]</span>
                                            <span class="ml-1">([[value]] OST)</span>
                                        </div>
                                </script>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{{#contentFor "pageScripts"}}
    <script type="text/javascript">
        $(document).ready(function() {
            btx.tokenDetails.init({
                transactions_url: "{{meta.transactions_url}}",
                token_holders_url:"{{meta.token_holders_url}}",
                token_transfer_graph_url: "{{meta.token_transfer_graph_url}}",
                token_volume_graph_url: "{{meta.token_volume_graph_url}}"
            });
        });
    </script>
{{/contentFor}}