<header class="container-fluid">

    <div class="container">

        <div class="d-none d-sm-block">
            <nav class="navbar navbar-expand-sm navbar-light navbar-ost">
                <a class="navbar-brand" href="/"><span class="ost-view-logo icon logo mt-2 mb-2"></span></a>
                <div class="navbar-nav ml-md-auto">
                    <div class="nav-item">
                        <form id="btxSearch-sm" class="btxSearch" action="/search">
                        <div class="input-group input-group-sm">
                            <input class="form-control" id="search" type="search" name="q" placeholder="Token, Transactions, Address or Block#" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary input-group-text" type="submit">
                                    <span class="search icon"></span>
                                </button>
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link text-uppercase about" href="https://docs.google.com/document/u/1/d/e/2PACX-1vT4pDdotBe4vf_CBHpT6mkHb0qqL67JYiFb-qnarzhCocLUjopbZzlYlF-AGL_cPfTavkwGT9Z8Bvuv/pub?embedded=true" target="_blank">About</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="d-block d-sm-none">
            <nav class="navbar navbar-expand-sm navbar-light navbar-ost">
                <a class="navbar-brand" href="/"><span class="ost-view-logo icon logo mt-2 mb-2"></span></a>
                <a class="nav-link text-uppercase about" href="https://docs.google.com/document/u/1/d/e/2PACX-1vT4pDdotBe4vf_CBHpT6mkHb0qqL67JYiFb-qnarzhCocLUjopbZzlYlF-AGL_cPfTavkwGT9Z8Bvuv/pub?embedded=true" target="_blank">About</a>
                <div class="navbar-nav m-auto pb-3">
                    <div class="nav-item">
                        <form id="btxSearch" class="btxSearch" action="/search">
                            <div class="input-group input-group-sm">
                                <input class="form-control" id="search" type="search" name="q" placeholder="Token, Transactions, Address or Block#" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary input-group-text" type="submit">
                                        <span class="search icon"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>

    </div>

</header>

