<script type="custom/ost" id="dt-col-1">
    <div class="cell d-flex align-items-center">
        <div class="circle circle-sm [[symbol_icon]]">
           <div>[[symbol]]</div>
        </div>
        <a href="[[redirect_url]]" class="ml-2 name">[[name]]</a>
    </div>
</script>
<script type="custom/ost" id="dt-col-2">
    <div class="cell d-flex align-items-center">
        <span class="staked-coin icon"></span>
        <span class="badge badge-primary inflow-[[inflow]] ml-1 pr-2">[[tokens]] [[coin_symbol]]</span>
        <span class="ml-1 ost-value">([[value]] OST<span class="text-lowercase">⍺</span>)</span>
    </div>
</script>
<script type="custom/ost" id="dt-col-3">
    <div class="cell d-flex align-items-center">
        <span class="time icon"></span>
        <span class="ml-1">[[timestamp]]</span>
    </div>
</script>
<script type="custom/ost" id="dt-col-4">
    <div class="cell d-flex align-items-center">
        <span>TX# </span>
        <a href="[[redirect_url]]" class="d-inline-block text-truncate ml-1">[[tx]]</a>
    </div>
</script>
<script type="custom/ost" id="dt-col-5">
    <div class="cell d-flex align-items-center">
        <span>From </span>
        <a href="[[redirect_url]]" class="d-inline-block text-truncate ml-1">[[from]]</a>
    </div>
</script>
<script type="custom/ost" id="dt-col-6">
    <div class="cell d-flex align-items-center">
        <div class="text-center w-100" style="color:#597a84">&#8594;</div>
    </div>
</script>
<script type="custom/ost" id="dt-col-7">
    <div class="cell d-flex align-items-center">
        <span>To</span>
        <a href="[[redirect_url]]" class="d-inline-block text-truncate ml-1">[[to]]</a>
    </div>
</script>