{{>pageTitle title="About"}}

<div class="container container-about">
    <div class="row">
        <div class="col-12">
            <div class="py-5">
                <p>OST VIEW is the custom-built block explorer from OST for OpenST Utility Blockchains.</p>
                <p>A multi-chain explorer, OST VIEW is a search engine and browser that novice and advanced users can utilize to view human-readable block, transaction, and account information from the OpenST Utility Blockchains.</p>
                <p>OST VIEW provides individual and aggregate data, including statistics and charts, on Branded Token transfers in and across Branded Token economies. Additionally, users can find complete account transaction histories, greatly facilitating navigation and analysis of the OpenST Utility Blockchains.</p>
                <p>Currently, OST VIEW displays information on transactions sent to OpenST Utility Blockchains via <a href="https://kit.ost.com/" target="_blank">OST KITα</a> or via the <a href="https://dev.ost.com/" target="_blank">OST SaaS APIs.</a></p>
                <p>OST VIEW is not a wallet service provider, it does not store private keys, and it does not have control over the transactions that take place over or the accounts on the OpenST Utility Blockchains. OST VIEW cannot be used to explore blocks and transactions on other blockchains.</p>
            </div>
        </div>
    </div>
</div>