<div class="container-fluid">
    <div class="col-xs-12 col-sm-12 home">
        <div class="container">
            <p class="home_title inline_block" >
                {{title}}
            </p>
        </div>
    </div>

</div>