<div class="container-fluid">
    <div class="col-xs-12 col-sm-12 home top_border truncate_tail">
        <div class="container">
            <p class="home_title inline_block" >
                <span class="truncate_tail">Block Details </span>
            </p>
        </div>
    </div>
    <div class="container address_details_container_background_color address_details_container_margine">
        <p class="address_details_padding truncate_tail">
            <span class="default_black_color">Block </span>
            <span class="address_title_color"> {{block.number}} </span>
        </p>
    </div>

    <div class="container">
        <div class="row border_bottom_e4 align-items-center">
            <p class="address_details_padding truncate_tail margin_left">

                <span class="default_black_color"> Block # </span>
                <a href= "/chain-id/1410/block/{{block.hash}}">
                    <span class="default_dark_blue"> {{block.hash}} </span>
                </a>
            </p>
        </div>

        <div class="row align-items-center">
            <p id="block_transactions_url" style="display:none">
                {{transaction_url}}
            </p>
            <div id="transaction_table">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var transaction_url = document.getElementById('block_transactions_url').innerHTML;
        var transaction_table = document.getElementById('transaction_table');
        $.ajax({
            url: transaction_url,
            contentType: 'application',
            type: 'GET',
            success: function (data, status) {
                console.log("success",data);
                transaction_table.innerHTML = data;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("Error Data: " + XMLHttpRequest + "\nStatus: " + textStatus)
            }
        });
    });
</script>