<div class="container-fluid">
  <div class="col-xs-12 col-sm-12 home">
    <p class="home_title inline_block" >
      Explore Branded Token
    </p>
  </div>
  

    {{#each blocks}}
      {{>tableComponent}}
    {{/each}}

</div>