<div class="container-fluid">
  <div class="col-xs-12 col-sm-12 home">
    <div class="container">
      <p class="home_title inline_block" >
        Explore Branded Token
      </p>
    </div>
  </div>
  <div class="container">
    {{#each blocks}}
      {{>tableComponent}}
    {{/each}}
  </div>
</div>

