<section class="container-fluid d-flex align-items-center" style="height: calc(100vh - 64px);">

    <div class="card text-center" style="width:50%; margin: 0 auto; box-shadow: 0 0 7px 1.5px rgba(0, 0, 0, 0.06);">
        <div class="card-body">
            <h5 class="card-title" style="color:#438bad">Sorry, no results found for your search.</h5>
            <p class="card-text" style="color:#5d6d6e">{{message}}</p>
            <a href="/" class="btn btn-secondary">Home</a>
        </div>
    </div>

</section>
