<section class="container-fluid d-flex align-items-center" style="height: calc(100vh - 64px); background: #fbfcfd">

    <div class="card text-center" style="width:50%; margin: 0 auto">
        <div class="card-body">
            <h5 class="card-title">Oops, looks like there was some problem!</h5>
            <p class="card-text">{{message}}</p>
            <a href="/" class="btn btn-primary">Home</a>
        </div>
    </div>

</section>
