{{>pageTitle title=token_details.company_name}}
{{>tokendetails_summary}}

    <div class="container ">
        <div class="row">
            <div class="col-xs-12 col-sm-12">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="tokenDetailsCoinStatsPadding">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="tokenDetailsGraphTitlePaddingLeft tokenDetailsGraphContainerBorder">
                                        <span class="tokenDetailsStatsTitleColorbad">
                                            TOTAL N  OF TOKEN TRANSFERS &nbsp
                                        </span>
                                        <span class="tokenDetailsStatsValueColora84">
                                            4213232
                                        </span>

                                        <div class="tokenDetailsGraphSubTitleMargineTop">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="tokenDetailsGraphSubTitleBorder">
                                                        <div class="row">
                                                            <div class="col-sm-8">
                                                                <div class="tokenDetailsGraphSubTitleBorderRight">
                                                                     <span class="tokenDetailsStatsTitleColorbad">
                                                                         Token Transfers
                                                                     </span>
                                                                </div>

                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="row">
                                                                    <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                        <div class="col-sm-2">
                                                                         <span class="tokenDetailsStatsTitleColorbad">
                                                                            1H
                                                                         </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                        <div class="col-sm-2">
                                                                              <span class="tokenDetailsStatsTitleColorbad">
                                                                                1D
                                                                             </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                        <div class="col-sm-2">
                                                                              <span class="tokenDetailsStatsTitleColorbad">
                                                                                1W
                                                                             </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                        <div class="col-sm-2">
                                                                              <span class="tokenDetailsStatsTitleColorbad">
                                                                                1M
                                                                             </span>

                                                                        </div>
                                                                    </div>
                                                                    <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                        <div class="col-sm-2">
                                                                              <span class="tokenDetailsStatsTitleColorbad">
                                                                                1Y
                                                                             </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                        <div class="col-sm-2">
                                                                              <span class="tokenDetailsStatsTitleColorbad">
                                                                                All
                                                                             </span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tokenDetailsContainerBackgroundColor tokenDetailsGraphMargin" style="padding-top: 60%">

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="tokenDetailsGraphTitlePaddingLeft tokenDetailsGraphContainerBorder">
                                        <span class="tokenDetailsStatsTitleColorbad">
                                            VOLUME OSTα &nbsp
                                        </span>
                                         <span class="tokenDetailsStatsValueColora84">
                                            4213232
                                        </span>

                                        <div class="tokenDetailsGraphSubTitleMargineTop">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="tokenDetailsGraphSubTitleBorder">
                                                        <div class="row">
                                                            <div class="col-sm-8">
                                                                <div class="tokenDetailsGraphSubTitleBorderRight">
                                                                 <span class="tokenDetailsStatsTitleColorbad">
                                                                     Volume
                                                                 </span>
                                                                </div>

                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="row">
                                                                    <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                        <div class="col-sm-2">
                                                                     <span class="tokenDetailsStatsTitleColorbad">
                                                                        1H
                                                                     </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                        <div class="col-sm-2">
                                                                          <span class="tokenDetailsStatsTitleColorbad">
                                                                            1D
                                                                         </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                        <div class="col-sm-2">
                                                                          <span class="tokenDetailsStatsTitleColorbad">
                                                                            1W
                                                                         </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                        <div class="col-sm-2">
                                                                          <span class="tokenDetailsStatsTitleColorbad">
                                                                            1M
                                                                         </span>

                                                                        </div>
                                                                    </div>
                                                                    <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                        <div class="col-sm-2">
                                                                          <span class="tokenDetailsStatsTitleColorbad">
                                                                            1Y
                                                                         </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tokenDetailsGraphTimeFilterMargineLeft">
                                                                        <div class="col-sm-2">
                                                                          <span class="tokenDetailsStatsTitleColorbad">
                                                                            All
                                                                         </span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tokenDetailsContainerBackgroundColor tokenDetailsGraphMargin" style="padding-top: 60%">

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">

                        <div class="tokenDetailsCoinStatsPadding">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="token_transfer_tab" data-toggle="tab" href="#home" role="tab" aria-controls="TOKEN TRANSFER" aria-selected="true">TOKEN TRANSFER</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="TOKEN HOLDERS" aria-selected="false">TOKEN HOLDERS</a>
                                </li>

                            </ul>
                        </div>

                        <p id="transactionUrl" style="display:none">
                            {{transactions_url}}
                        </p>

                        <table id="tokenDetailsRecentTrans" class="table table-hover table-responsive" cellspacing="0" width="100%">
                            <thead hidden>

                            </thead>
                            <tfoot hidden>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>