{{js 'mTokenDetailsTransactionList.js'}}
{{css 'mTokenDetailsTransaction.css'}}


<table id="tokenDetailsRecentTrans" class="table borderless text-truncate">
    <tbody class="transactions_font transactionsBackgroundColor">
        {{#each contract_internal_transactions}}
            {{>tokenDetailsRecentTransactions}}
        {{/each}}
    </tbody>
</table>
