table.borderless td, th{
    vertical-align: middle;
    border-top: none;
}

table td.tableRowHashWidth {
    width: 15%;
}

table td.tableRowOtherComponentWidth {
    width: 16%;
}

table td.tableRowTransaferArrowComponentWidth {
    width:4% ;
}

table.transactionsBackgroundColor {
    background-color: #fafcfd;
}