.container-details{

    .section{
        border-left: 1px solid #e3eef3;
        &:first-of-type{
            border-left: none;
        }

        .token-name{
            color: #597a84;
            font-size: 0.9rem;
            font-weight: 400;
            letter-spacing: 1.1px;
        }

        .token-price{
            color: #597a84;
            font-size: 0.75rem;
            font-weight: 300;
            letter-spacing: 1.1px;
        }

        .name{
            text-transform: uppercase;
            color: #597a84;
            font-size: 0.75rem;
            font-weight: 400;
            letter-spacing: 1.1px;
        }

        .value{
            color: #179eb1;
            font-size: 0.8rem;
            font-weight: 300;
        }
    }

    @media (max-width: 576px){
        .section{
            border-left: none;
            border-bottom: 1px solid #e3eef3;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}

.container-summary{
    .card{
        border: none;
        .card-img-top{
            border-radius: 50%;
            width: 20%;
            z-index: 1;
        }
        .card-body{
            background: #f1f5f8;
            margin-top: -20px;
            .name{
                color: #438bad;
                font-size: 1rem;
                font-weight: 500;
                text-transform: uppercase;
                .badge-primary{
                    background: #19a5b8;
                    color: #fff;
                }
            }
            .value{
                color: #e4b030;
                font-size: 0.9rem;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
}


.token-table{
    th,
    td{
        padding: 0 !important;
        font-size: 0.75rem;
        width: 16%;
        color: #597a84;
        a,
        a:visited,
        a:active,
        a:hover{
            color: #179eb1;
        }

        .cell{
            height: 40px;
            .badge-primary{
                background: #9cc5c1;
            }
        }
    }
    td:nth-of-type(6){
        width: 4%;
    }
}

.tokenDetailsContainerBackgroundColor {
    background-color: #f1f5f8;
}

.tokenDetailsContainerMargineTop{
    margin-top: 20px;
}

.tokenDetailsPadding{
    padding: 20px 0px 20px 0px;
}

.tokenDetailsColora84 {
    color: #597a84;
}

.tokenDetailsTransactionsMargineTop {
    margin-top: 50px;
}

.tokenDetailsTransactionsColorbad {
    color: #438bad;
}

table.dataTable.no-footer{
    border-bottom: none !important;
}

table.dataTable tbody tr{
    background-color: #fafcfd !important;
}

.tokenDetailsBorderLeft{
    border-left: 2px solid #e3eef3;
}

.tokenDetailsCoinIcon{
    border-radius: 50%;
    width: 100%;
}

.tokenDetailsCoinDetails{
    color: #5d6d6e;
    font-size: 18px;
}

.tokenDetailsPriceInAlphaFont{
    font-size: 12px;
}

.tokenDetailsPriceInAlphaMargineTop {
    margin-top: 15px;
}

.tokenDetailsContractDetails{
    font-size: 12px;
    padding: 10px;
}

.tokenDetailsTokenUIDPaddingTop{
    padding-top: 20px;
}

.tokenDetailsContainerBorderBottom{
    border-bottom: 2px solid #e3eef3;
}

.tokenDetailsCoinStatsPadding{
    padding: 20px;
}

.tokenDetailsCoinStatsMargineTop{
    margin-top: -20px;
}

.tokenDetailsStatsTitleColorbad{
    color: #438bad;
    font-size: 12px;
}

.tokenDetailsStatsValueColora84{
    color: #597a84;
    font-size: 12px;
}

.tokenDetailsStatsValueColor030{
    color: #e4b030;
    font-size: 12px;
}

.tokenDetailsStatsImage{
    border-radius: 50%;
    width: 20%;
}

.tokenDetailsGraphPadding{
    padding: 20px;
}

.tokenDetailsGraphTitlePaddingLeft{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.tokenDetailsGraphSubTitleBorder{
    border-top: 1px solid #e3eef3;
    border-bottom: 1px solid #e3eef3;

}

.tokenDetailsGraphSubTitleMargineTop{
    margin-top: 8px;
}

.tokenDetailsGraphContainerBorder{
    border: 1px solid #e3eef3;
}

.tokenDetailsGraphSubTitleBorderRight{
    border-right: 1px solid #e3eef3;
}

.tokenDetailsGraphTimeFilterMargineLeft{
    margin-left: -10%;
}

.tokenDetailsIconPaddingLeft{
    padding-left: 20px;

}

.tokenDetailsGraphMargin{
    margin-top: 10px;
    margin-bottom: 10px;
}


.tokenDetailsCoinAmount {
    background-color: rgb(160,200,196);
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
}

.tokenDetailsMaxWidth{
    max-width: 200px;
}

.tokenDetails{
}
