.address_title_color {
    color: #597a84;
}

.address_details_container_background_color {
    background-color: #f1f5f8;
}

.address_details_padding{
    padding: 10px 0px 10px 0px;
}

.transfer_icon {
    width: 8%;
}

.token_icon {
    border-radius: 50%;
    width: 4%;
}

.top_margin {
    margin-top: 8px;
}

.address_details_container_margine{
    margin-top: 20px;
}

