span.tx_key {
  font-size: 13px;
}

span.tx_value {
  font-size: 10px;
}

span.address_value {
  color: rgb(164,184,188);
}

span.date {
  color: rgb(151,176,181);
}  

.amount_coin {
  background-color: rgb(160,200,196);
  color: #ffffff;
  border-radius: 4px;
  padding: 2px 2px 2px 2px;
}

.amount_usd {
  background-color: rgb(95,121,131);
  color: #ffffff;
  border-radius: 4px;
  padding: 2px 2px 2px 2px;
}