
.font{
    font-size: 8px;
}

.rcorners3 {
    background: #73AD21;
}

p.frcCoin {
  font-size: 9px;
}
p.volume {
  font-size: 6px;
}

.tokenIcon {
  border-radius: 50%;
  width: 20px;
}

.tableLayoutFix {
    table-layout: fixed;
}

table.tableVarticleAlignCenter td, th{
    vertical-align: middle;
}

.tableRowHashWidth {
    width: 15%;
}

.tableRowOtherComponentWidth {
    width: 16%;
}

.tableRowTransaferArrowComponentWidth {
    width:4% ;
}

.tableBorderRight{
    border-right: 2px solid rgb(227,238,243) !important;
}

table.borderless td, th {
    border: none;
}

.table tbody+tbody {
    border: none;
}

    