.test_div_color {
  background-color: #ffffff
}

.font{
    font-size: 8px;
}

span.tx_key {
  color: rgb(103,107,107);

}

span.tx_value {
  color: rgb(123,202,189);
}

span.address_value {
  color: rgb(164,184,188);
}

span.date {
  color: rgb(151,176,181);
}  

.transform_Y_50 {
  transform: translateX(0%) translateY(50%);
}

.amount_coin {
  background-color: rgb(160,200,196);
  color: #ffffff;
  border-radius: 4px;
  padding: 2px 2px 2px 2px;
}

.amount_usd {
  background-color: rgb(95,121,131);
  color: #ffffff;
  border-radius: 4px;
  padding: 2px 2px 2px 2px;
}

    