.key-color {
    color: #5d6d6e;
}

.link-color{
    color: #179eb1;
}

.container-token-details {

    .info-card {
        border: none;
        font-size: 14px;

        .card-body {
            padding: 0.8rem;
            background-color: #f1f5f8;
        }
    }

    .details-card{

        border-radius: 2px;
        font-size: 14px;

        .card-body{
            padding: 0.8rem;
            &:nth-of-type(odd){
                background-color: #f1f5f8;
            }

            .transaction-status-1{
                color: #78a124;
            }

            .transaction-status-2{
                color: #a13628;
            }

            .token-icon {
                border-radius: 50%;
                width: 1.5rem;
            }

            .coin-amount {
                background-color: #9cc5c1;
                color: #ffffff;
                border-radius: 0.3rem;
                padding: 0.16rem;
            }

            .input-data-break-all{
                word-break: break-all;
            }
            .transfer-table-wrapper{
                > div {
                    &:nth-of-type(even){
                        background-color: #f9fbfd;
                    }
                }
                .to-arrow{
                    color: #179eb1;
                }
                .show-more-link{
                    padding-bottom: 3px;
                    border-bottom: 1px solid #179eb1;
                    &:hover{
                        text-decoration: none;
                    }
                }
                .tx-fee{
                    font-weight: 300;
                    margin-left: 8px;
                    padding: 2px 8px;
                    border-radius: 2px;
                }
            }
        }
    }

    .card-key {
        color: #5d6d6e;
        min-width: 150px;
        display: inline-block;

        @media (max-width: 576px){
            display: block;
            min-width: inherit;
        }
    }
}

.token-table {
    tr {
        background-color: #ffffff !important;
    }
}