div.home  {
  background-color: #f9f8e5;
}

p.home_title {

  color: #3f8cac;
  font-size: 26pt;
  margin-left: -10pt;
  margin-top: 34pt;
  font-size: 35px;
  font-family: Quasimoda;
  background-color: #f9f8e5;
}