<script type="text/x-handlebars-template" id="next-previous-template" >

    <div class="pagination-wrapper paginate-section text-right">
        <a href="javascript:void(0)" class="paginate-button j-previous-btn disabled"> ❮ </a>
        <a href="javascript:void(0)" class="paginate-button j-next-btn disabled"> ❯ </a>
    </div>

</script>

