.key-color {
    color: #5d6d6e;
}

.title{
    color: #438bad;
}

.tx-color{
    color: #179eb1;
}

.container-block-details {
    .info-card {
        border: none;
        font-size: 14px;

        .card-body {
            padding: 0.8rem;
            background-color: #f1f5f8;
            .token-icon {
                border-radius: 50%;
                width: 1.3rem;
            }

        }
    }

    .details-card {

        border-radius: 2px;
        font-size: 14px;

        .card-body {
            padding: 0.8rem;
            &:nth-of-type(even) {
                background-color: #f1f5f8;
            }

            .icon {
                border-radius: 50%;
                width: 1.3rem;
            }
        }
    }

    .transfer_table{
        .transactions-title-color {
            color: #438bad;
        }
    }

    .card-key {
        color: #5d6d6e;
        min-width: 150px;
        display: inline-block;

        @media (max-width: 576px) {
            display: inline-block;
            min-width: inherit;
        }
    }
}