.blockDetailsContainerBackgroundColor {
    background-color: #f1f5f8;
}

.blockDetailsContainerMargineTop{
    margin-top: 20px;
}

.blockDetailsPadding{
    padding: 10px 0px 10px 10px;
}

.blockDetailsColora84 {
    color: #597a84;
}

.blockDetailsBorder {
    border: 1px solid #cdd7da;
}

.blockDetailsTransactionsColorbad {
    color: #438bad;
}

.addressCellMaxWidth{
    max-width: 200px;
}

table thead.dataTablesWrapper{
    display:none;
}

