.addressDetailsTitleColora84 {
    color: #597a84;
}

.addressDetailsContainerBackgroundColor {
    background-color: #f1f5f8;
}

.addressDetailsPadding{
    padding: 10px 0px 10px 10px;
}

.addressDetailsBorder {
    border: 1px solid #cdd7da;
}

.transfer_icon {
    width: 8%;
}

.token_icon {
    border-radius: 50%;
    width: 4%;
}

.top_margin {
    margin-top: 8px;
}

.addressDetailsContainerMargineTop{
    margin-top: 20px;
}

.addressDetailsTransactionsMargineTop {
    margin-top: 50px;
}

.addressDetailsTransactionsColorbad {
    color: #438bad;
}

.addressDetailsCoinAmount {
    background-color: rgb(160,200,196);
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
}

.addressDetailsCoinAmountUsd {
    background-color: rgb(95,121,131);
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
}
