header.container-fluid{
    box-shadow: 0 1px 6px 3.5px rgba(237, 242, 246, 0.89);
}

.navbar-ost{
    padding:0;

    .logo{
        height: 30px;
    }

    .navbar-nav{
        .nav-item{
            .nav-link,
            .dropdown-item{
                font-size: 0.8rem;
                color: rgba(0,0,0,.5);
                text-transform: uppercase;
            }
        }
    }

    .dropdown-menu{
        margin-top: 13px;
        .dropdown-item{
            padding: .5rem 1.5rem;
            font-size: 0.8rem;
            color: rgba(0,0,0,.5);
            text-transform: uppercase;
            &:active{
                background-color: transparent;
            }
        }
        .selected{
            background-color:#f6f7f7 ;
        }
    }


    .dropdown-toggle:after {
        border: 0;
        content: "";
        display: inline-block;
        background: url("https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/drop-down-arrow.svg") no-repeat center;
        background-size: 75%;
        height: 10px;
        width: 14px;
        position: relative;
        top: 4px;
    }

    .input-group{
        .input-group-append{
            .input-group-text{
                padding-right: 0.8rem ;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                background: #fff;
                border-left: none;
            }
            .btn{
                &:hover,
                &:active{
                    border-color: #ced4da;
                    //background: #f1f4f7;
                }
                &:focus{
                    border-color: #ced4da;
                    box-shadow: none;
                }
            }
        }
        input[type=search]{
            padding-left: 1rem ;
            padding-right: 0;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-right: none;
            font-size: 0.8rem;
            width: 255px;
            @media (max-width: 576px){
                width: 200px;
            }
            &:focus{
                border-color: #ced4da;
                outline:none;
                box-shadow: none;
            }
        }
    }

}

.container-page-title{
    width: 100%;
    background: #e2f4f6;
    border-top: solid 1px #69d3d9;
    h1{
        color: #438bad;
        font-size: 1.5rem;
    }
}

.view-search{
    position: relative;
    .search-result{
        position: absolute;
        z-index: 2;
        top: 100%;
        width: 100%;
        border-radius: 10px;
        background-color: #ffffff;
        margin-top: 5px;
        max-height: 400px;
        overflow-y: auto;
        box-shadow: 1.5px 1.5px 5px 0px rgba(0, 0, 0, 0.1);
        a{
            &:hover{
                display: block;
                text-decoration: none;
                background-color: #f4f8f9;
            }
            &.block{
                display: block;
                .number{
                    font-weight: 500;
                    color: #34445b;
                    display: block;
                }
                .chain-id{
                    font-weight: 300;
                    color: #9b9b9b;
                    font-size: 13px;
                    display: block;
                }
            }
        }
    }
    .search-block-number-wrap{
        &:first-child{
            background-color: #f4f8f9;
        }
    }
}