.navbar{
    padding:0;

    .logo{
        height: 30px;
    }
}

#search-q{
    border-radius: 20px;
}

.btx  {
    font-size: 200%;
    color: #474D4B;
    display: inline;
}

p.about {
    display: inline;
    margin-right: -10pt;
    margin-top : 10pt;
}

form {
    margin-top : 10pt;
}

.btxImage {
    margin-left: -10pt;
}