.container-datatable{

  .nav-tab-ost{

    .nav-pills{

      border-bottom: 1px solid #c6e9ee;
      box-shadow: 0px 4px 10px -5px #c6e9ee;

      .nav-link{

        color: #438bad;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 1.1px;

        &.active{
          background: none;
          font-weight: 500;
          position: relative;
          &:after{
            content: '';
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #fff;
            position: absolute;
            left: calc(50% - 6px);
            top: 40px;
            z-index: 1;
          }
        }
      }

    }

  }

}

.token-table {
  tbody,
  tr {
    background-color: #fafcfd !important;
  }

  th,
  td {
    padding: 0 !important;
    font-size: 0.75rem;
    width: 16%;
    color: #597a84;
    border-top: 1rem solid #ffffff;
    a,
    a:visited,
    a:active,
    a:hover {
      color: #179eb1;
    }

    .cell {
      height: 40px;
      .badge-primary {
        background: #9cc5c1;
      }
      .text-truncate {
        max-width: 150px
      }
      @media (max-width: 576px) {
        min-width: 100px;
        .text-truncate {
          max-width: 75px
        }
      }
    }
  }
  td:nth-of-type(6) {
    width: 4%;
  }
}

table.dataTable.no-footer {
  border-bottom:none!important;
}

.dataTables_wrapper .dataTables_info{
  right: 100px;
  bottom: 10px;
  position: absolute;
  font-size: 0.7rem;
  color: #979797;
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active{
  color: #979797 !important;
  border: 1px solid #e9eff4 !important;
}
